html, body {
  font-family: monospace;
  background-color: #333;
  color: #abc
}
pre { margin: 0 }
caption { text-align: unset; }

a { color: cornflowerblue; }
a:visited { color: chartreuse; }

table {
  margin-top: 3em;
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #123;
  padding: 10px;
  box-sizing: border-box;
}

td:first-child { /* checkbox */
  width: 20px;
}

td.fixed {
  width: 150px;
  text-align: center;
}
